body {
  display: flex;
  flex-direction: column;
  height: 100vh;/* Avoid the IE 10-11 `min-height` bug. */
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // -webkit-text-stroke: 0.45px;
  // // or
  // -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
  // // or
  // text-shadow: #fff 0px 1px 1px;
}

.ns-container {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  background-size: cover;
}
