@font-face {
  font-family: 'icomoon';
  src:  url('../../scss/base/fonts/icomoon/icomoon.eot?xxii2g');
  src:  url('../../scss/base/fonts/icomoon/icomoon.eot?xxii2g#iefix') format('embedded-opentype'),
    url('../../scss/base/fonts/icomoon/icomoon.ttf?xxii2g') format('truetype'),
    url('../../scss/base/fonts/icomoon/icomoon.woff?xxii2g') format('woff'),
    url('../../scss/base/fonts/icomoon/icomoon.svg?xxii2g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-triangle-down:before {
  content: "\e94f";
}
.icon-circle:before {
  content: "\e950";
}
.icon-server:before {
  content: "\e951";
}
.icon-server-two:before {
  content: "\e952";
}
