.navbar {
    margin-top: 80px;
    padding: 0 60px;
}

.nav {

  border-top: 1px solid $gray;

  a {
    display: block;
    position: relative;
    padding: 20px 35px;
    color: $not-black;
    font-size: 1rem;
    font-family: $font-family-sans-serif-heading;
    font-weight: $font-weight-black;
    text-transform: uppercase;
    letter-spacing: .1em;

    &.active {
      color: $brand-primary;

      &::before {
        content: "";
        position: absolute;
        top: -3px;
        left: 0;
        height: 4px;
        width: 100%;
        background-color: $brand-primary;
      }
    }
  }
}
