
// Font Weight Utilities
.ns-u-font-light {
  font-weight: $font-weight-light;
}

.ns-u-font-reg {
  font-weight: $font-weight-normal;
}

.ns-u-font-semi {
  font-weight: $font-weight-semi;
}

.ns-u-font-bold {
  font-weight: $font-weight-bold;
}

.ns-u-font-black {
  font-weight: $font-weight-black;
}
