<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="format-detection" content="telephone=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <link href="dist/css/bootstrap.min.css" rel="stylesheet" title="Default Style">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
    <script src="public/js/vendor/bootstrap-tether-1-2-4.js"></script>
    <script src="public/js/vendor/alpha-6-bootstrap.js"></script>
    <title>Nitro Solutions</title>
  </head>
  <body>
    <header>
      <div class="container">
        <nav id="navigation">
          <a href="#" class="logo">
            <img alt="Brand" src="public/img/nitro-logo.png" alt="Nitro Solutions Logo" class="img-fluid">
          </a>
          <a aria-label="mobile menu" class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
          </a>
          <ul class="menu-left">
              <li><a href="#about">Technology</a></li>
              <li><a href="#exp">Case Studies</a></li>
              <li><a href="#skills">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
      </div>
    </header>
<!-- These URLS will need to be updated when this gets placed into SD and made into a template -->
